.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header_column {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;
    padding-top: 2vw;
    position: fixed;
    height: 50%;
    .left_header {
      display: flex;
      flex-direction: column;
      padding-left: 8vw;
      padding-top: 1vw;
      // position: fixed;
      width: 100%;
      // top: 0px;
      // left: 0px;
      height: 70%;

      .logo {
        cursor: pointer;
        background-color: #f26c4e;
        color: #ffffff;
        width: 5%;
        border-radius: 5px 5px 5px 2.5vw;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: 0.8s ease-in-out;
        .logo_c:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
        .logo_c {
          width: 100%;
          padding-top: 100%;
          position: relative;
          transition: 0.8s ease-in-out;
          .logo_box {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              -webkit-transition: -webkit-transform 0.8s ease-in-out;
              transition: transform 0.8s ease-in-out;
              margin: 0px;
              font-size: 3.5vw;
              font-weight: bold;
              line-height: 100%;
              cursor: pointer;
            }
          }
        }
      }
      .logo:hover {
        border-radius: 5px 2.5vw 5px 5px;
      }
      .navBar {
        color: #ffffff;

        height: 100%;
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding: 0px;
          margin: 0px;

          height: 100%;
          li {
            cursor: pointer;
            font-weight: 600;
            opacity: 0.6;
            transition: 0.4s ease-out;
            padding-right: 7vw;
            font-size: 1.7vw;
          }
          li:hover {
            opacity: 1;
          }
          .li_active {
            color: #f26c4e;
            opacity: 0.9;
          }
          .li_active:hover {
            opacity: 1;
          }
        }
      }
    }
    .language_switcher {
      padding-left: 8vw;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        opacity: 0.6;
        color: #ffffff;
        font-size: small;
        padding-right: 1vw;
        cursor: default;
      }
      p {
        opacity: 0.6;
        color: #ffffff;
        margin: 0px;
        font-size: 1vw;
        font-weight: 600;
        padding-right: 1vw;
        cursor: pointer;
        transition: 0.4s;
      }
      p:hover {
        opacity: 1;
      }
      .active_p {
        opacity: 1;
      }
      .active_p:hover {
        opacity: 0.8;
      }
    }
  }
  .header {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
    margin-bottom: 10vw;
    .left_header {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding-top: 2vw;
      width: 100%;
      .logo {
        position: fixed;
        z-index: 101;
        top: 2vw;
        cursor: pointer;
        background-color: #f26c4e;
        color: #ffffff;
        width: 5%;
        border-radius: 5px 2.5vw 5px 5px;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: 0.8s ease-in-out;
        .logo_c:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
        .logo_c {
          width: 100%;
          padding-top: 100%;
          position: relative;
          transition: 0.8s ease-in-out;
          .logo_box {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              -webkit-transition: -webkit-transform 0.8s ease-in-out;
              transition: transform 0.8s ease-in-out;
              margin: 0px;
              font-size: 3.5vw;
              font-weight: bold;
              line-height: 100%;
              cursor: pointer;
            }
          }
        }
      }
      .logo:hover {
        border-radius: 90px;
      }
      .navBar {
        color: #ffffff;
        padding-left: 8vw;
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0px;
          margin: 0px;
          li {
            cursor: pointer;
            font-weight: 600;
            opacity: 0.6;
            transition: 0.4s ease-out;
            padding-right: 7vw;
            font-size: 1.7vw;
          }
          li:hover {
            opacity: 1;
          }
          .li_active {
            color: #f26c4e;
            opacity: 0.9;
          }
          .li_active:hover {
            opacity: 1;
          }
        }
      }
    }

    .language_switcher {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        opacity: 0.6;
        color: #ffffff;
        font-size: small;
        padding-right: 1vw;
        cursor: default;
      }
      p {
        opacity: 0.6;
        color: #ffffff;
        margin: 0px;
        font-size: 1vw;
        font-weight: 600;
        padding-right: 1vw;
        cursor: pointer;
        transition: 0.4s;
      }
      p:hover {
        opacity: 1;
      }
      .active_p {
        opacity: 1;
      }
      .active_p:hover {
        opacity: 0.8;
      }
    }
  }
  .me {
    width: 62%;
    position: relative;
    .name_box {
      background-color: #f26c4e;
      padding-left: 2vw;
      border-radius: 0px 90px 0px 90px;
      p {
        color: #ffffff;
        font-size: 6vw;
        font-weight: bolder;
        margin: 0px;
        line-height: 6vw;
      }
      .sur_p {
        padding-left: 10vw;
      }
    }
    .info {
      position: absolute;
      width: 50%;
      bottom: -100%;
      right: -12vw;
      background-color: #222222;
      border-bottom: 2px solid #f26c4e;
      border-right: 2px solid #f26c4e;
      border-top: 2px solid #f26c4e;
      height: 170%;

      padding: 1vw;

      .title {
        color: #f26c4e;
        font-size: 1vw;
        text-align: start;
        margin-bottom: 2px;
      }
      .text {
        color: #ffffff;
        font-size: 1.5vw;
        text-align: start;
      }
    }
    /* width */
    .info::-webkit-scrollbar {
      width: 0.7vw;
    }

    /* Track */
    .info::-webkit-scrollbar-track {
      background: #222222;
    }

    /* Handle */
    .info::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
}
